mat-toolbar{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
mat-card{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: auto;
}

.formulario{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.endereco{
  mat-form-field{
    padding: 2px;
  }
}