<div class="objt">
  <mat-toolbar color="primary">
    <span class="title-center">Cadastro</span>
    <!-- botão close envia false pro componente pai -->
    <button mat-icon-button (click)="closeCadastro.emit(false)">
      <mat-icon style="color: red;">close</mat-icon>
    </button>
    
  </mat-toolbar>
  <mat-card>
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()" #clienteFormRef="ngForm">
      <div class="formulario">
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput type="text" formControlName="cpf" mask="000.000.000-00" required />
          <mat-error *ngIf="cpfInvalid">CPF deve ter 11 dígitos.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" required />
          <mat-error *ngIf="nomeInvalid">Nome é obrigatório e deve ter pelo menos 3 caracteres.</mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-label>Estado</mat-label>
          <input matInput type="text" formControlName="uf" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="emailInvalid">Email inválido.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input matInput type="text" formControlName="telefone" mask="(00) 00000-0000" required />
          <mat-error *ngIf="telefoneInvalid">Telefone deve estar no formato (XX) XXXXX-XXXX.</mat-error>
        </mat-form-field>

        <div class="endereco" formGroupName="endereco">
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput type="text" formControlName="cep" mask="00000-000" required
              (keyup.enter)="getCep(clienteForm.get('endereco.cep')?.value)" />
            <mat-error *ngIf="cepInvalid">CEP deve estar no formato XXXXX-XXX.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Logradouro</mat-label>
            <input matInput type="text" formControlName="logradouro" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput type="text" formControlName="localidade" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input matInput type="text" formControlName="bairro" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Número</mat-label>
            <input matInput type="text" formControlName="numero" required />
          </mat-form-field>
        </div>

        <button 
        mat-raised-button 
        color="accent" 
        type="submit" 
        [disabled]="loading || !clienteForm.valid">
          <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
          <span *ngIf="!loading">Cadastrar</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>