.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px;
}
  
  .full-width {
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .mat-toolbar {
    justify-content: center;
  }
  
  .mat-card {
    padding: 24px;
    margin: 24px auto;
    max-width: 600px;
  }
  
  button {
    align-self: flex-end;
  }
  