.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

.content {
    margin-top: 20px;
}

.details {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.background-orange {
    background-color: rgb(255, 167, 80);
}

.background-red {
    background-color: rgb(255, 96, 96);
}

.background-gray {
    background-color: rgb(171, 171, 171);
}

.background-blue {
    background-color: rgb(134, 213, 255);
}

.background-green {
    background-color: rgb(143, 247, 143);
}

.background-yellow {
    background-color: rgb(255, 255, 132);
}

.bottonr {
    justify-content: space-between;
}

h2{
    color: #000;
}



