<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <ng-container *ngIf="isEmployee; else customerLinks">
    <!-- Links específicos para funcionários -->
    <a mat-list-item routerLink="/listar-pedido">
      <mat-icon>view_list</mat-icon><span>Pedidos</span>
    </a>
    <a mat-list-item routerLink="/roupas/listar">
      <mat-icon>tshirt</mat-icon><span>Roupas</span>
    </a>
    <a mat-list-item routerLink="/funcionarios/listar">
      <mat-icon>people</mat-icon><span>Funcionários</span>
    </a>
    <a mat-list-item routerLink="/relatorios">
      <mat-icon>bar_chart</mat-icon><span>Relatórios</span>
    </a>
  </ng-container>
  <ng-template #customerLinks>
    <!-- Links específicos para mat-list-item clientes -->
    <a mat-list-item routerLink="/listar-pedidos">
      <mat-icon>view_list</mat-icon><span> Meus Pedidos</span>
    </a>
    <a mat-list-item routerLink="/novo-pedido">
      <mat-icon>add</mat-icon><span> Novo Pedido</span>
    </a>
    <a mat-list-item routerLink="/consulta-pedido">
      <mat-icon>search</mat-icon><span> Consultar Pedidos</span>
    </a>
    <a mat-list-item>
      <mat-icon>person</mat-icon><span> Meu Perfil</span>
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon>logout</mat-icon><span> Logout</span>
    </a>
  </ng-template>
</mat-nav-list>
