<table mat-table [dataSource]="roupas" class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let roupa"> {{roupa.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let roupa"> {{roupa.name}} </td>
  </ng-container>

  <!-- Term Column -->
  <ng-container matColumnDef="term">
    <th mat-header-cell *matHeaderCellDef> Prazo </th>
    <td mat-cell *matCellDef="let roupa"> {{roupa.time}} </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let roupa"> {{roupa.price}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let roupa">
      <button mat-button color="primary" (click)="atualizarRoupa(roupa.id)">Editar</button>
      <button mat-button color="warn" (click)="excluirRoupa(roupa.id)">Excluir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let roupa; columns: displayedColumns;"></tr>
</table>