<div class="painel">
  <div class="container">
    <div class="card">
      <form #formLogin="ngForm">
        <div class="formulario">
          <h2>LOL - Lavanderia</h2>
          <h3>BEM-VINDO</h3>

          <div class="alert alert-danger" *ngIf="message">{{ message }}</div>
          
          <mat-form-field>
            <input matInput placeholder="Usuário" [(ngModel)]="email" name="email" [disabled]="isDisabled" required email>
          </mat-form-field>

          <mat-form-field>
            <input matInput [type]="passwordVisible ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="password"
              name="password" [disabled]="isDisabled" required>
            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <img [src]="passwordVisible ? 'assets/img/eye-open.svg' : 'assets/img/eye-closed.svg'"
                alt="Toggle Password" class="eye-icon">
            </span>
          </mat-form-field>

          <div class="botoes">
            <button mat-raised-button color="primary" type="submit" [disabled]="loading || isDisabled">
              <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
              <span *ngIf="!loading" (click)="onLogin(formLogin)">Fazer Login</span>
            </button>
            <button mat-raised-button class="cadastre" (click)="botaoAutoCadastro()">Cadastre-se</button>
          </div>
          
        </div>
      </form>
    </div>
    <app-cadastro-cliente (closeCadastro)="handleClose($event)" *ngIf="autocad"></app-cadastro-cliente>
  </div>
</div>
