<div class="mat-elevation-z8">

    <table>
        <thead>
            <tr>
                <th>Número do Pedido</th>
                <th>Data de Abertura</th>
                <th>Hora</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>Cancelar/Pagar</td>
            </tr>
        </tbody>
        
        </table>
    
</div>  

