<div class="mat-elevation-z8">
  <mat-table [dataSource]="funcionarios" class="mat-elevation-z8">

    <!-- Coluna ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let funcionario"> {{funcionario.id}} </mat-cell>
    </ng-container>

    <!-- Coluna E-mail -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let funcionario"> {{funcionario.email}} </mat-cell>
    </ng-container>

    <!-- Coluna Nome -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let funcionario"> {{funcionario.name}} </mat-cell>
    </ng-container>

    <!-- Coluna Data de Nascimento -->
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
      <mat-cell *matCellDef="let funcionario"> {{funcionario.birthDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Coluna Ações -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let funcionario" class="action-buttons">
        <button mat-button (click)="goToUpdatePage(funcionario.id)" color="primary">
          <mat-icon>edit</mat-icon> Atualizar
        </button>
        <button mat-button (click)="deleteFuncionario(funcionario.id)" color="warn">
          <mat-icon>delete</mat-icon> Excluir
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div *ngIf="funcionarios.length === 0" class="centralizado">Nenhum funcionário cadastrado.</div>
  <button mat-fab color="primary" class="add-button" (click)="novoFuncionario()">
    <mat-icon>add</mat-icon>
  </button>
</div>
